<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sikar.paybill" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WebViewActivity"
            android:label="WebView" >
            <action android:name="android.intent.action.VIEW" />

            <uses-permission android:name="android.permission.INTERNET" />
        </activity>
        <activity
            android:name=".SearchBill"
            android:label="@string/title_activity_search_bill" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ShowBill"
            android:label="@string/title_activity_show_bill" >
        </activity>
        <activity
            android:name=".PayBill"
            android:label="@string/title_activity_pay_bill" >
        </activity>
    </application>

</manifest>
